* {
    color: white;
}

#footer{
    position: fixed;
    bottom: 0px;
    width: 100%;
}
table{
    width: 100%;
}
.table{
    margin-bottom: 220px;
    padding: 20px 50px;
}
body{
    font-family: 'Lato', arial, sans-serif;
    background-color: #202125 !important;
}

.gradient-custom {
    /* fallback for old browsers */
    background: #6a11cb;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1))
    }
.search{
    color: black;
}
.View{
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 40px;
    
}
img{
    float: right;
}

.pagination{
    max-width: 100%;
}
.search{
    padding: 20px;
    color: black;
}
